*,
*::after,
*::before{
  box-sizing: border-box;
}
@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.eot');
	src: local('☺'), url('../../assets/fonts/georgia.woff') format('woff'), url('../../assets/fonts/georgia.ttf') format('truetype'), url('../../assets/fonts/georgia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.eot');
	src: local('☺'), url('../../assets/fonts/arial.woff') format('woff'), url('../../assets/fonts/arial.ttf') format('truetype'), url('../../assets/fonts/arial.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.georgia{
    font-family: 'Georgia';
}
.arial{
    font-family: 'Arial';
}
body{
    background: #E5E5E5;
    margin: 0 auto;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    background: #F6F6F6;
}
.header-container{
    background-repeat: no-repeat;
    background-color: white;
    height: 120px;
}
.header{
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}
.header-logo{
    margin-left: 40px;
    color: #F1CDB3;
}
.logo{
    text-decoration: solid;
}
.header-logo:hover{
    cursor: pointer;
}
.header-title{
    width: 184px;
    line-height: 35px;
    margin-bottom: -10px;
    color: #545454;
    letter-spacing: 1.75px;
    margin-top: 29px;
}
.header-text{
    width: 179px;
    line-height: 27px;
    color: #292929;
    margin-left: 7px;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    margin-left: auto;
}
.nav-list{
    display: flex;
}
.nav-item{
    display: flex;
    float: left;
    width: 122px;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}
.nav-link{
    display: flex;
    justify-content: space-around;
    color: #545454;
    text-decoration: solid;
}
.about-link{
    display: flex;
    color: #292929;
    border-bottom-style: inset;
    text-decoration: solid;
    border-color: #F1CDB3; 
}
.nav-help{
    margin-left: -16px;
}
.nav-contacts{
    margin-right: 24px;
}
.hamburger{
    width: 30px;
    height: 25px;
    display: none;
    cursor: pointer;
    margin-right: 45px;
    margin-top: -10px;
}
.line{
    width: 100%;
    height: 2px;
    background: #545454;
    margin: 8px -8px;
    transition: all 0.4s ease-in-out;
}
.hamburger.open .line1 {
    transform: rotate(-90deg) translate(-12px, 9px);
  }
.hamburger.open .line2 {
    transform: rotate(90deg) translate(2px, 1px);
}
.hamburger.open .line3 {
    transform: rotate(90deg) translate(-8px, 11px);
}
.wrapper-container{
    min-height: 1342px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-container{
    max-width: 1200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 39px;
    margin-bottom: 99px;
}
.card-container{
    margin-top: 86px;  
}
.heading{
    max-width: 400px;
    height: 90px;
}
.heading-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 43px;
}
.grid{
    max-width: 1200px;
    padding-top: 15px;
    text-align: center;
    justify-items: center;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
}
.slider-item{
    background-color: white;
    display: grid;
    height: 435px;
}
.slider-item:hover{
    cursor: pointer;
    background: #FAFAFA;
}
.name-pet{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: -4px;
}
.navigation{
    margin-top: 60px;
}
.btn-slider{
    background-color: white;
    width: 187px;
    height: 52px;
    display: inline;
    border-radius: 30px;
    border: 2px solid #F1CDB3;
    font-size: 19px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: -21px;
}
.btn-slider:hover{
    display: inline;
    border-radius: 30px;
    background: #F1CDB3;
    border-width: 0px;
}
.slider-item:hover .btn-slider{
    background: #FDDCC4;
	cursor: pointer;
}
.btn-menu{
    height: 52px;
    display: flex;
    align-items: center;
    max-width: 359px;
    gap: 20px;
}
.btn-left{
    image-rendering: url(../../assets/icons/Arrow\ left.svg);
    float: left;
    width: 52px;
    height: 52px;
    display: inline;
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    margin: auto;
    font-size: 17px;
}
.btn-left:hover{
    background: #FDDCC4;
    cursor: pointer ;
}
.btn-left-centr{
    background: #F1CDB3;
}
.btn-left-left{
    border-color: #CDCDCD;
}
.footer{
    display: flex;
    min-height: 350px;
    background-image: url(../../assets/images/footer-background.jpg);
    background-size: cover;
}
.footer-content{
    max-width: 1200px;
    min-height: 310px;
    display: inline-flex;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    float: left;
}
.footer-title{
    font-size: 33px;
    letter-spacing: 1.2px;
    margin-top: -20px;
    color: white;
    max-width: 310px;
}
.title-text{
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 45px;
}
.mail-foto{
    float: left;
}
.footer-mail{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    text-align: center;
    margin-top: 40px;
}
.mail-href, .phone-href{
    display: flex;
    color: #F1CDB3;
    text-decoration: none;
    margin-top: -17px;
}
.phone-foto{
    float: left;
}
.phone{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    max-width: 300px;
    text-align: center;
    margin-top: 25px;
}
.photo-london {
    margin-top: 14px;
}
.phone-info {
    letter-spacing: 1.1px;
    margin-left: 20px;
}
.mail-info {
    letter-spacing: 1px;
    margin-left: 20px;
}
.mail-info-boston{
    letter-spacing: 1.27px;
    margin-left: 14px;
    margin-top: 10px;
    width: 254px;
}
.phone-info-london{
    letter-spacing: 1.2px;
    margin-left: 6px;
    width: 254px;
}
.location{
    margin-left: 124px;
}
.footer-puppy{
    margin-left: 115px;
    margin-top: 40px;
}

@media (max-width: 1274px) {
        .footer{
            flex-direction: column;
            align-items: center;
        }
}
@media (max-width: 1240px){
    .grid{
        max-height: 930px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width: 940px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-height: 1400px;
    }
}
@media (max-width: 768px) {
    .freddie {
        display: none;
    }
    .scarlet {
        display: none;
    }
    .footer-puppy {
        margin-top: 6px;
        margin-left: 3px;
    }  
}
@media (max-width: 876px) {
    .header-logo {
        margin-left: 29px;
    }
    .line {
        background: #F1CDB3;
    }
    .nav {
        margin-top: 0px;
    }
    .nav-item {
        text-align: center;
        justify-content: center;
        font-size: 16px;
        width: 119px;
    }
    .nav-link {
        font-size: 16px;
    }
    .start-container {
        margin-bottom: 78px;
    }
    .card-container {
        margin-top: 57px;
    }
    .navigation {
        margin-top: 18px;
    }
    .location {
        margin-left: 61px;
    }
    .footer-content {
        margin-left: 24px;
        margin-top: 10px;
    }
    .location {
        margin-left: 47px;
    }
}
@media (max-width: 766px) {
    .hamburger{
        display: block;
    }
    .nav-link {
        color: #CDCDCD;
    }
    .about-link {
        color: #FAFAFA;
    }
    .nav-link {
        font-size: 34px;
    }
    .nav-list{
        display: block;
        width: 620px;
        min-height: 1024px;
        background-color: #292929;
        position: fixed;
        padding-top: 134px;
        padding-left: 67px;
        transform: translateX(100%);
        transition: all 0.5s;
    }
    .nav-item {
        width: 100%;
        font-size: 34px;
        word-spacing: 3px;
        margin-top: 52px;
    }
    .nav-list.open {
        transform: translateX(0);
        margin-left: -246px;
        margin-top: -178px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 325px;
        padding: 0;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        max-height: 1400px;
        overflow: hidden;
    }
  }
@media (max-width: 630px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .location {
        margin-left: 0px;
    }
}
@media (max-width: 560px) {
    .header-logo.open{
        color: #F1CDB3;
        margin-left: 220px;
        align-items: center;
        display: flex;
        flex-flow: column;
        z-index: 2;
    }
}
@media (max-width: 510px){
    .header-logo.open{
        margin-left: 170px;
        z-index: 2;
    }
}
@media (max-width: 460px) {
    .header-logo.open {
        margin-left: 117px;
        z-index: 2;
        position: relative;
    }
    .heading-title {
        margin-top: 3px;
        font-size: 25px;
    }
}
@media (max-width: 410px){
    .header-logo.open {
        margin-left: 88px;
        z-index: 2;
    }
}
@media (max-width: 356px) {
    .carly {
        display: none;
    }
    .timmy {
        display: none;
    }
    .sophia {
        display: none;
    }.grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .footer-img {
        width: 100%;
    }
}
@media (max-width: 376px){
    .header-logo.open {
        margin-left: 64px;
        z-index: 2;
    }
    .btn-menu {
        gap: 10px;
    }
}
@media (max-width: 370px) {
    .header-logo {
        margin-left: 10px;
    }
    .heading-title {
        margin-top: 3px;
        font-size: 25px;
    }
    .card-container {
        margin-top: 3px;
    }
    .navigation {
        margin-top: 24px;
    }
    .start-container {
        margin-bottom: 42px;
    }
    .footer-content {
        margin: 0px;
    }
    .footer-title {
        margin-top: 31px;
    }
    .footer-mail {
        max-width: 320px;
    }
    .footer-title1 {
        font-size: 25px;
        letter-spacing: 2px;
        line-height: 32.5px;
        text-align: center;
    }
    .footer-mail {
        margin: 0px;
    }
    .mail-href, .phone-href {
        display: inline-flex;
    }
    .mail-info {
        margin-left: 24px;
        margin-top: 20px;
    }
    .phone {
        margin-top: 2px;
        margin-left: 19px;
    }
    .phone-info {
        margin-left: 23px;
    }
    .location {
        margin-left: 9px;
        margin-top: -10px;
    }
    .location-title {
        width: 259px;
        margin: 0px;
    }
    .footer-mail1 {
        margin-top: 21px;
        margin-left: -8px;
    }
    .mail-href-boston {
        margin-left: -16px;
        margin-top: 22px;
        align-items: flex-start;
    }
    .mail-info-boston {
        letter-spacing: 1.2px;
        margin-left: 6px;
        margin-top: -4px;
        width: 254px;
    }
    .photo-london {
        margin-top: 16px;
        margin-left: -23px;
    }
    .phone-info-london {
        margin-left: 0px;
        margin-top: 7px;
    }
    .footer-img {
        width: 260px;
        margin-top: 37px;
        margin-left: -3px;
    }
    .footer-puppy {
        margin-top: -17px;
        margin-left: 3px;
    }
}
@media (max-width: 355px){
    .header-logo.open {
        margin-left: 30px;
        z-index: 2;
    }
}
@media (max-width: 320px) {
    .header-logo.open {
    margin-left: 10px;
    z-index: 2;
    }
}
.header-logo.open .header-title {
    color: #F1CDB3;
    z-index: 2;
}
.header-logo.open .header-text {
    color: #FFFFFF;
    z-index: 2;
}

/* Popup */
.pet {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 1;
    padding-top: 188px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
  }
  .wrapper-pets {
    display: flex;
    min-height: 500px;
    background: white;
    margin: 0 auto;
    border-radius: 14px;
  }
  #Jennifer,
  #Sophia,
  #Woody,
  #Scarlett,
  #Katrine,
  #Timmy,
  #Freddie,
  #Charly {
    display: none;
    width: 900px;
    border-radius: 14px;
  }
  .popap-img {
    height: 500px;
    border-radius: 14px;
  }
  .close-pets {
    width: 52px;
    height: 52px;
    background: rgba(41, 41, 41, 0);
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    position: absolute;
    margin-top: -51px;
    margin-left: 889.6px;
    cursor: pointer;
  }
  ul {
    padding: 0px;
  }
  li {
    list-style-type: none;
  }
  .inoculations::before {
    color: #F1CDB3;
    content: "▪";
    padding-right: 10px;
}
  .age::before {
    color: #F1CDB3;
    content: "▪";
    padding-right: 10px;
}
  .parasites::before {
    color: #F1CDB3;
    content: "▪";
    padding-right: 10px;
}
  .diseases::before {
    color: #F1CDB3;
    content: "▪";
    padding-right: 10px;
}
  .block-pets {
    margin-left: 30px;
}
.block-pets-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 50px;
}
.breed {
    font-family: 'Georgia';
    font-size: 20px;
    display: flex;
    letter-spacing: 0.06em;
    margin-top: -26px;
}
.description {
    font-family: 'Georgia';
    font-size: 17px;
    display: flex;
    margin-top: 40px;
    max-width: 352px;
    line-height: 100%;
}
.age {
    margin-left: -3px;
    margin-top: 41px;
    letter-spacing: 1.9px;
}
.inoculations {
    margin-left: -4px;
    margin-top: 11px;
    letter-spacing: 1.9px;
}
.parasites,
.diseases {
    margin-left: -3px;
    margin-top: 7px;
    letter-spacing: 1.9px;
}
.parasites {
    margin-top: 9px;
}

@media (max-width: 1240px) {
    .grid {
        overflow: hidden;
    }
  }
@media (max-width: 1000px) {
    .close-pets {
        margin-top: -53px;
        margin-left: 622.6px;
    }
    .wrapper-pets {
        min-height: 347px;
        border-radius: 10px;
    }
    .popap-img {
        height: 75%;
    }
    #Jennifer,
    #Sophia,
    #Woody,
    #Scarlett,
    #Katrine,
    #Timmy,
    #Freddie,
    #Charly {
      width: 630px;
      height: 350px;
      border-radius: 10px;
    }
    .popap-img {
        height: 350px;
        border-radius: 10px;
    }
    .block-pets {
        margin-left: 12px;
    }
    .block-pets-name {
        margin-top: 10px;
    }
    .description {
        font-size: 14px;
        margin-top: 0px;
        max-width: 262px;
        letter-spacing: 0.3px;
    }
    .age {
        margin-left: -3px;
        margin-top: 23px;
        letter-spacing: 2px;
    }
    .inoculations {
        margin-top: 7px;
    }
    .parasites, .diseases {
        margin-top: 7px;
    }
}
@media (max-width: 768px) {
    .contacts {
        margin-left: 20px;
    }
    .footer-mail {
        margin-top: 45px;
    }
    .location {
        margin-left: 27px;
    }
    .age {
        margin-top: 21px;
    }
    .inoculations {
        margin-top: 4px;
    }
    .parasites,
    .diseases {
        margin-top: 5px;
    }
}
@media (max-width: 720px) {
    .pet {
        padding-top: 169px;
    }
    .wrapper-pets {
        min-height: 445px;
    }
    .popap-img {
        display: none;
    }
    .close-pets {
        margin-top: 1px;
        margin-left: 259.6px;
    }
    #Jennifer,
    #Sophia,
    #Woody,
    #Scarlett,
    #Katrine,
    #Timmy,
    #Freddie,
    #Charly {
      width: 320px;
    }
    .block-pets {
        margin-left: 30px;
    }
    .block-pets-name {
        margin-top: 64px;
        margin-left: 60px;
    }
    .breed {
        margin-left: 53px;
        margin-top: -27px;
    }
    .description {
        margin-left: 18px;
        max-width: 241px;
        margin-top: 22px;
        letter-spacing: 0.6px;
        font-size: 14px;
    }
    .age,
    .parasites,
    .diseases,
    .inoculations {
        margin-left: 18px;
    }
}

@media (max-width: 720px) {
    #Jennifer,
    #Sophia,
    #Woody,
    #Scarlett,
    #Katrine,
    #Timmy,
    #Freddie,
    #Charly {
        width: 240px;
        height: 341px;
        border-radius: 10px;
    }
    .wrapper-pets {
        min-height: 341px;
        border-radius: 10px;
    }
    .close-pets {
        margin-top: -52px;
        margin-left: 219px;
    }
    .block-pets {
        margin-left: 0px;
    }
    .block-pets-name {
        margin-top: 11px;
        margin-left: 50px;
    }
    .breed {
        margin-left: 44px;
        margin-top: -25px;
    }
    .description {
        margin-left: 9px;
        margin-top: 19px;
        max-width: 220px;
        letter-spacing: 0px;
        font-size: 14px;
        text-align: justify;
    }
    .age,
    .parasites,
    .diseases,
    .inoculations {
        margin-left: 9px;
    }
    li {
        width: 200px;
    }
}

@media (max-width: 320px) {
    .info-pet {
        margin-top: 23px;
    }
    .age,
    .parasites,
    .diseases,
    .inoculations {
        margin-left: 7px;
    }
    .contacts {
        margin-left: -2px;
        margin-top: -2px;
    }
    .footer-mail {
        margin-top: 41px;
    }
    .phone {
        margin-top: 22px;
        margin-left: 4px;
    }
    .location {
        margin-left: 28px;
        margin-top: -13px;
    }
    .mail-href-boston {
        margin-left: -29px;
        margin-top: 2px;
        align-items: flex-start;
    }
    .location {
        margin-left: 0px;
        margin-top: -13px;
    }
    .location-title {
        width: 287px;
        margin: 0px;
    }
    .footer-mail1 {
        margin-top: 42px;
        margin-left: 18px;
    }
    .photo-london {
        margin-top: 32px;
        margin-left: -16px;
    }
}

